@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300:500&display=swap');


body {
	width: 768px;
	margin: 0 auto;
	font-family: 'Outfit';
}
a {
	text-decoration: none;
	color: inherit;
}